/* Write your CSS here */
.app-bg-container {
  background-color: #1c1c2b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
  width: 80%;
  margin-top: 20px;
  padding: 10px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 30px;
  width: 32px;
  margin-right: 15px;
}

.cowin-heading {
  font-family: roboto;
  font-size: 24px;
  color: #2cc6c6;
}

.heading {
  font-family: roboto;
  color: #cbd5e1;
  font-size: 26px;
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.failure-img {
  height: 400px;
  width: 500px;
}

.description {
  font-family: Bree Serif;
  font-weight: bold;
  color: white;
  font-size: 28px;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
